# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# 2 space indentation for JavaScript and JSX
[*.{js,jsx}]
indent_style = space
indent_size = 2

# 2 space indentation for JSON and YAML
[*.{json,yml,yaml}]
indent_style = space
indent_size = 2

# 4 space indentation for other files
[*.{html,css,py}]
indent_style = space
indent_size = 4

# Markdown files
[*.md]
trim_trailing_whitespace = false
insert_final_newline = true
