/**
 * @Author: Ramiro Luiz Nunes
 * @Date:   2024-06-06 20:01:10
 * @Last Modified by:   Ramiro Luiz Nunes
 * @Last Modified time: 2024-06-06 22:33:08
 */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
